<!DOCTYPE html>
<html lang="en">

<head>
    <title>Steam Achievements Hunter</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://semantic-ui.com/javascript/library/tablesort.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
    <style type="text/css">
        body {
            background-image: url("https://steamuserimages-a.akamaihd.net/ugc/170415821557756504/5DDE919E193D19D449A39D567D909920FEC72328/");
        }

        .column {
            margin-top: 15px;
            max-width: 95%;
        }

        .border {
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }
    </style>
</head>

<body>
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui violet header border">Steam Achievements Hunter</h2>
        <h3 class="ui purple header border">{{ profile_name }}</h3>
        <table class="ui sortable celled table selectable">
            <thead>
            <tr>
                <th class="eight wide">Game</th>
                <th class="number sorted descending four wide">Locked</th>
                <th class="number four wide">Unlocked</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result['games'] -%}
            <tr>
            {% if item.locked == 0 %}
                <td class="positive selectable"><a href="http://store.steampowered.com/app/{{ item.id }}/">{{ item.name }}</a></td>
                <td class="positive">{{ item.locked }}</td>
                <td class="positive">{{ item.unlocked }}</td>
            {% elif item.unlocked == 0 %}
                <td class="negative selectable"><a href="http://store.steampowered.com/app/{{ item.id }}/">{{ item.name }}</a></td>
                <td class="negative">{{ item.locked }}</td>
                <td class="negative">{{ item.unlocked }}</td>
            {% else -%}
                <td ><a href="http://store.steampowered.com/app/{{ item.id }}/">{{ item.name }}</a></td>
                <td>{{ item.locked }}</td>
                <td>{{ item.unlocked }}</td>
            {% endif -%}
            </tr>
            {% endfor -%}
            </tbody>
            <tfoot>
            <tr>
                <th>{{ result.total_games }}</th>
                <th>{{ result.total_locked }}</th>
                <th>{{ result.total_unlocked }}</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.sortable.table').tablesort();
        $('thead th.number').data('sortBy', function(th, td) {
			return parseInt(td.text(), 10);
		});
    });
</script>
</body>

</html>